*{
    text-decoration: none;
}
body {
    background:url('/static/img/cognix.png') no-repeat
}
.navbar{
    background: transparent;
    font-family: "calibri";
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 50px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

li a {
    color:white;
    font-weight: bold;
    margin-right: 25px;
}

.navdiv button {
    background-color: transparent;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 15px #2049a8;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    
}
.navdiv button:hover{
    box-shadow: 0 0 10px #fbfafc

}

.navdiv button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
}

.modal-content {
    position: relative;
  background: #ffffff;
  width: 400px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
}

.modal-content h2{
    position: absolute;
    top: 0;
    left: 155px;
    font-size: 50px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 20px;
}
.modal-content p{
    border: 2px solid gray;
    border-radius: 10px;
    font-size:30px;
    padding: 10px;
    margin: 10px;

}
.modal-content .lens{
    margin-top: 150px;
}

.modal-content button {
    background: #ffffff;
    font-family: Arial;
    font-size: 30px;
    font:bold;
    position: absolute;
    left: 15px;
    top: 10px;
    border: none;
    padding: 0;
    cursor: pointer;

}
footer {
    font-size: 30px;
    color: #fbfafc;
    text-align: center left;
    width: 100%;
    position: fixed;
    bottom: 1px;
}
.modal-content img {
    position: absolute;
    text-align: center;
    top: 55px;
    left: 160px;
    border: 2px solid #000;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.modal-content i {
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 50px;
    margin-top: 0%;
    margin-bottom: 20px;
}

.profile-img button i:hover {
    font-size: 60px;
}