<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COGNIX</title>
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/tasks.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
  {% load static %}
  <nav class="navbar">
    <div class="navdiv">
      <div class="logo"><a href="#">COGNIX</a></div>
      <ul>
        <li><a  id="openTasks">Minhas Tasks</a></li>
        <!-- <li><a href="/projects">Projetos</a></li> -->
        <li><a  id="openProfile">Perfil</a></li>
        <button><a href="{% url 'log_out' %}">logout</a></button>
      </ul>
    </div>
  </nav>


  <div id="profileModal" class="modal">
    <div class="modal-content">
      <h2>Perfil</h2>
      {% if foto %}
      <div class="profile-img">
      <img src="{{ foto.url }}">  <!-- <button ><i class='bx  bx-camera-alt'></i></button> -->
      </div> 
      {% else %}
      <div class="profile-img">
      <img src="/static/img/sem-foto.png">
      </div> 
      {% endif %}
      <div class="lens">
        <p><strong>Nome:</strong> {{ username }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Cargo:</strong> {{ cargo }}</p>
      </div>
      <button id="closeProfile"></button>
    </div>
  </div>
  <div id="tasksModal" class="Tmodal">
    <div class="modal-Tcontent">
      {% for task in tasks %}
        {% if task.completo == False %}
      <div class="task-card" data-task-id="{{ task.id }}">
        <h3>Tarefa {{ task.id }}: {{ task.titulo }}</h3>
        <p><strong>Descrição:</strong> {{ task.descricao }}</p>
        <p><strong>Prazo:</strong> {{ task.conclusao }}</p>
        <div class="task-actions">
          <label class="upload-box">
            <i class='bx  bx-folder-down-arrow'></i>
            <input type="file" name="files" class="folderInput" data-task-id="{{ task.id }}" webkitdirectory multiple hidden>
          </label>
          <span class="file-count" data-task-id="{{ task.id }}">Nenhum ficheiro</span>
          <button class="send-btn" type="submit" data-task-id="{{ task.id }}">enviar</button>
        </div>
      </div>
        {% endif%}
      {% endfor %}
      <button id="closeTasks"></button>
    </div>
  </div>
  <footer>
    <p>© 2025 - COGNIX</p>
  </footer>
  <script src="/static/js/perfil.js"></script>
  <script src="/static/js/tasks.js"></script>
</body>
</html>